*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-weight: 300;
    font-family: "DM Sans","arial";
}

/*Colori testo*/

.text_purple{
    font-style: italic;
    font-weight: 400;
    color: hsl(256, 67%, 59%);
}

/*Regole titoli*/

h2{
    font-weight: 400;
    line-height: 24px;
}

/*Regole Grid*/

.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    width: 1000px;
    height: 620px;
    margin: 10px auto;
}

/*Colonne e righe Grid*/

.item{
    display: grid;
    border-radius: 10px;

    border: 1px solid black;
}

.item-1{
    background-color: #faeee2;
    grid-row: span 3;
}

.item-1 .card img{
    max-width: 100%;
    padding: 20px 30px 20px 0;
}

.item-2{
    grid-column: span 2;
    grid-row: span 2;
}

.item-3{
    grid-row: span 4;
}

.item-4{
    grid-row: span 4;

}

.item-5{
    grid-row: span 2;
}

.item-6{
    grid-row: span 3;
}

.item-7{
    grid-column: span 2;
    grid-row: span 2;
}

/*Contenuto griglie*/

.card{
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;

    padding: 40px 20px;

}

.card-1{
    justify-self: center;
    align-self: center;
}

