*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-weight: 300;
    font-family: "DM Sans","arial";
}

/*Colori testo*/

.text_purple{
    font-style: italic;
    font-weight: 400;
    color: hsl(256, 67%, 59%);
}

.text_orange{
    color: hsl(39, 100%, 71%);
}

.text_white{
    color: white;
}

.text_small{
    font-weight: 600;
    line-height: 16px;
    font-size: 12px;
}

/*Regole titoli*/

h1{
    font-weight: 500;
    color: white;
}

h2{
    font-weight: 400;
    line-height: 24px;
}

h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
}

/*Regole Grid*/

.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

    width: 800px;
    margin: 20px auto;
}

/*Colonne e righe Grid*/

.item{
    display: grid;

    border-radius: 10px;
}

.card{
    height: 90%;

    justify-self: center;
    align-self: center;

    padding: 20px;
}

/*Card alto*/
/*Card alto sinistra*/

.item-1{
    background-color: #faeee2;
    grid-row: span 3;
}

.item-1 .card{
    padding: 40px 20px 20px 20px;
}

.item-1 .card img{
    max-width: 100%;
    padding: 20px 0px 20px 0;
}

/*Card alto centrale*/

.item-2{
    background-color: #7651dc;
    grid-column: span 2;
    grid-row: span 2;
}

.item-2 .card{
    text-align: center;
    padding: 20px 20px 40px 20px;
}

.item-2 .card img{
    max-width: 40%;
    margin: 0 30%;
}

/*Card alto destra*/

.item-3{
    background-color: hsl(254, 88%, 90%);
    grid-row: span 4;
}

.item-3 .card{
    padding: 10px 0 10px 20px;
}

.bg_img{
    height: 60%;
    margin: 20px 0;
    background-image: url(../img/illustration-schedule-posts.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Card centrale*/
/*Card centrale sinistra*/

.item-4{
    background-color: #fdfbfe;
    grid-row: span 2;
}

.item-4 .card{
    padding: 10px 0 10px 20px;
}

.item-4 h3{
    font-size: 20px;
    margin: 0 10px 0 0;
}

.bg_img4{
    height: 30%;
    margin: 0px 0 20px 0;
    background-image: url(../img/illustration-multiple-platforms.webp);
}

/*Card centrale destra*/

.item-5{
    background-color: hsl(39, 100%, 71%);
    grid-row: span 2;
}

.item-5 .card{
    padding: 14px 14px 0 20px;
}

.item-5 .card h3{
    font-size: 20px;
}

.bg_img5{
    height: 53%;
    margin: 20px 0 0px 0;
    background-image: url(../img/illustration-consistent-schedule.webp);
}

/*Card sotto*/
/*Card sotto sinistra*/

.item-6{
    background-color: hsl(39, 100%, 71%);
    grid-row: span 3;
}

.item-6 .card{
    padding: 10px 10px 25px 20px;
}

.item-6 .card img{
    margin-top: 30px;
    max-width: 100%;
}

/*Card sotto centrale*/

.item-7{
    background-color: white;
    grid-row: span 2;
}

.item-7 .card img{
    margin-top: 30px ;
    max-width: 100%;
}

.item-7 h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

/*Card sotto destra*/

.item-8{
    background-color: #7651dc;
    grid-column: span 2;
    grid-row: span 2;
}

.item-8 .card{
    padding: 20px;
    justify-self:left;
}

.item-8 .card img{
    float:left;
    max-width: 45%;
}

.item-8 .card h3{
    margin: 8% 0;
    vertical-align: end;
    font-size: 28px;
    font-weight: 500;
    line-height: 22px;
}




